body {
    background-color: black;
    opacity: 0.8;
    .main-wrapper {
        background-image: url(../src/pictures/kitchen-515388_1920.jpg);
        background-size: cover;
        width: 60%;
        height: 80vh;
        margin: auto;
        margin-top: 50px;
        overflow-y: auto;
        #booking-form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
        }
        .second-booking-form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
        }
        input {
            border: none;
            height: 25px;
            opacity: 0.8;
            background-color: black;
            color: white;
        }
        input[type=date] {
            height: 27.5px;
        }
        input::placeholder {
            color: white;
        }
        button {
            border: none;
            height: 27px;
            background-color: black;
            color:white;
            opacity: 0.8;
            outline: none;
        }
        button:active {
            opacity: 1;
        }
        .show-sittings {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
        }
        .all-bookings {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            // width: 30%;
            .sittings {
                width: 25%;
                padding: 10px;
                margin: 10px;
                margin-top: 20px;
                background-color: black;
                opacity: 0.7;
                color: white;
                .admin-buttons {
                    cursor: pointer;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}