@import url("https://fonts.googleapis.com/css?family=Heebo|Work+Sans:300&display=swap");

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Work Sans', sans-serif;
    .main-wrapper {
        background-image: url(../src/pictures/kitchen-515388_1920.jpg);
        background-size: cover;
        width: 60%;
        height: 80vh;
        margin: auto;
        margin-top: 50px;
        overflow-y: auto;
        #booking-form {
            padding-top: 50px;
            .input-and-button-wrapper {
                margin-top: 15px;
            }
        }
        h1 {
            font-weight:normal;
        }
        .second-booking-form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
        }
        input {
            border: none;
            height: 25px;
            opacity: 0.8;
            background-color: black;
            color: white;
            font-family: 'Work Sans', sans-serif;
        }
        input[type=date] {
            height: 26.5px;
        }
        input::placeholder {
            color: white;
        }
        .check-availability-button {
            border: none;
            height: 27px;
            background-color: rgba(0, 0, 0, 0.89);
            color:white;
            outline: none;
            margin-left: 5px;
        }
        div {
            text-align: -webkit-center;
            .react-calendar {
                border: none;
                background-color: black;
                opacity: 0.8;
                font-family: 'Work Sans', sans-serif;
                color: white;
                button {
                    opacity: 0.8;
                    background-color: black;
                    color: white;
                    font-family: 'Work Sans', sans-serif;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.589);
                    }
                }
            }
        }
        button:active {
            opacity: 1;
        }
        .show-sittings {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
            .show-bookings-button {
                margin-left: 5px;
                border: none;
                opacity: 0.8;
                background-color: black;
                color: white;
                font-family: 'Work Sans', sans-serif;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.589);
                }
            }
        }
        .all-bookings {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .sittings {
                width: 25%;
                padding: 10px;
                margin: 10px;
                margin-top: 20px;
                background-color: black;
                opacity: 0.7;
                color: white;
                .admin-buttons {
                    cursor: pointer;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}